<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://www.shareicon.net/data/128x128/2016/06/27/787351_multimedia_512x512.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Form | Purple Note</title>
    <style>
      body {
        background: rgb(45, 35, 35);
        background: radial-gradient(
          circle,
          rgba(45, 35, 35, 1) 0%,
          rgba(34, 194, 195, 1) 100%
        );
      }

      .container {
        background-color: rgba(255, 255, 255, 0.5);
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 30%;
        margin-top: 8rem;
        padding: 1rem;
        border-radius: 5px;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      .emailp {
        font-weight: bold;
        letter-spacing: 1px;
      }
      label {
        font-weight: 900;
        text-align: left;
        margin-left: 5px;
        padding-bottom: 8px;
        padding-top: 8px;
        letter-spacing: 1px;
      }

      input {
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        border-radius: 3px;
        text-decoration: none;
        border: none;
      }

      button {
        margin-top: 1rem;
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        border-radius: 5px;
        font-weight: 900px;
        cursor: pointer;
        background: radial-gradient(
          circle at 10% 20%,
          rgb(255, 19, 120) 0%,
          rgb(56, 48, 48) 90.5%
        );
        border: none;
      }

      @media only screen and (max-width: 720px) {
        .container {
          width: 90%;
          margin-top: 10rem;
        }
      }
    </style>

<script>
  var status = '<%- JSON.stringify(status) %>';

  function validateAndSubmit() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;

    if (password.length < 6) {
      alert("Password should be at least 6 characters long.");
      return;
    }

    if (password !== confirmPassword) {
      alert("Password does not match.");
      return;
    }

    var submitButton = document.getElementById("submitButton");
    submitButton.innerHTML = 'Submitting...';

    document.getElementById("resetForm").submit();
  }

  window.onload = function () {
    if (status === "password updated") {
      alert("Password updated successfully. Please log in.");
    }
  };
</script>


  </head>

  <body>
    <div class="container">       
      <h2>Password Form</h2>
      <p class="emailp">Your Email: <%= email %></p>
        <form id="resetForm" action="/api/resetpassword/<%= id %>/<%= token %>" method="post" onsubmit="validateAndSubmit(); return false;">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required />
        
          <button type="submit" id="submitButton">Submit</button>
        
    </div>
  </body>
</html>
